[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
hypercorn = "*"
fastapi-oidc = "*"
httpx = "*"
async-lru = "*"
jwcrypto = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
